<div id="sidebar">
  <h3> <%= link_to "Registrations", registrations_path %> </h3>
  <h3><%= link_to "Announcements", announcements_path %></h3>
  <h3><%= link_to "Contacts", contacts_path %></h3>
  <h3><%= link_to "Surveys", questionaires_path %></h3>
</div>

