<div id="container">	
  <div id="content">
    <h2>Admin Home</h2>
    <h3> <%= link_to "Registrations", registrations_path %> </h3>
    <h3><%= link_to "Announcements", announcements_path %></h3>
    <!--<h3>#<%= link_to "Users", users_path %></h3>-->
  </div>
</div>
