* {
    margin:0;
    padding:0;
}
body {
    background-color:green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#container {
	margin: 0px auto;
	text-align: left;
	border: 1px solid #4B1E18;
	padding: 0px;
}
#main_content {
    background-color:red;
    padding: 0 15px;
    font-size: 15px;
	text-align: left;
	border: 1px solid #4B1E18;
	line-height: 180%;
	margin: 0 100px auto;
}
#main_content h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

nav ul {
	padding: 5px 0 0 0;
	clear: both;
	overflow: hidden;
}
nav li {
	display: inline;
	margin: 10px;
	list-style: none;
	margin: 10px 10px 0 0;
}

/************** header **************/
header {
	text-align: left;
	min-height: 100px;
/*	border-bottom: 1px solid #284907;*/
/*	margin-bottom: 15px;*/
	padding: 15px;
	letter-spacing: 20px;
}

header h1 {
	position: relative;
	vertical-align: center;
	color: #6B5846;
    font-size: 48px;
	margin-bottom: -10px;
}

header #banner {
}

header h2 {
    color: #284907;
    font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
}

/************** end header **************/

/************** main nav **************/
#top_nav {
    background-color: white;
	clear: both;
	overflow: hidden;
	border-top: 1px solid #284907;
	padding: 0px;
	font: 12px Verdana;
	padding: 0 100px;
	text-align: right;
}

/************** main nav **************/

/************** footer **************/
footer {
    background-color: orange;
	clear: both;
	overflow: hidden;
	border-top: 1px solid #284907;
	padding: 0px;
	font: 12px Verdana;
	text-align: center;
}

/************** end footer **************/

/************** sidebar **************/
.sidebar {
    background-color: pink;
	border-left: 1px solid #8FB65F;
	margin: 0 0 15px 15px;
	padding: 0px 15px 15px 15px;
	float: right;
	width: 175px;
	font: 12px Verdana;
	color: #5A4735;
	line-height: 160%;
}
/************** end sidebar **************/
.floatr {
	float: right;
}

