/* Created by http://freehtml5templates.com */
/* reset */
td {
  align: left;
}
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
.header, #footer, .#sidebar, .nav, .article {
display: block;
}

body {
line-height: 1;
background-color: #E3B88F;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AF8446), to(#F9F0E8), color-stop(.6,#E3B88F));
	background-image: -moz-linear-gradient(19% 75% 90deg, #F9F0E8, #E3B88F, #AF8446 100%);
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #666;
font-size: 12px;
line-height: 16px;
}
	
/* layout */

#container {
float: left;
margin: 0 -240px 0 0;
width: 630px;
border-right: 1px #ddd solid;
}

#content {
margin: 0 260px 0 20px;
}

#sidebar {
float: right;
overflow: hidden;
width: 260px;
}

.menu, #main, #wrapper {
margin: 0 auto;
width: 900px;
}

#wrapper {
background: #F9F0E8;
padding: 0 20px;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

.footer-segment {
float: left;
margin-right: 20px;
width: 210px;
}

#fourth {
margin-right: 0;
}

#fourth p {
padding-right: 5px;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #372417;
}

a {
color:#6B4A28;
}

.fake_h3_link {
color:#6B4A28;
text-decoration:underline;
}

a:hover {
color: #372417;
}
	
hr {
background-color: #E7E7E7;
border: 0;
height: 1px;
margin-bottom: 18px;
clear: both;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/* .header */

.header {
margin-top: 25px;
padding: 25px 0 0 0;
margin-left: auto;
margin-right: auto;
}

.header .centerImages {
  margin-left: auto;
  margin-right: auto;
  width: 870px;
}

.header img {
  border: 10px solid #372417;
  margin: 10px 0;
  width: 850px;
}

.header h1 {
float: left;
margin: 0 0 15px 0;
width: 660px;
font-size: 28px;
line-height: 30px;
}

.header h1 a {
color: #672417;
font-weight: bold;
text-decoration: none;
text-shadow: 0px 2px 3px #ddd;
}

.header h2 {
color: #777;
clear: right;
float: right;
font-style: italic;
margin: 4px 0 4px 0;
text-shadow: 0px 2px 3px #ddd;
}

/* .nav */

.nav {
background: #372417;
margin: 0 auto;
width: 900px;
display: block;
float: left;
}

.nav .menu {
font-size: 15px;
font-weight: bold;
margin-left: 12px;
display: block;
text-decoration: none;
color: #E3B88F;
padding: 0 10px;
line-height: 30px;
}

.nav .menu ul {
list-style: none;
margin: 0;
}

.nav .menu li {
float: left;
position: relative;
padding: 0 10px;
}

.nav .menu a {
display: block;
text-decoration: none;
color: #E3B88F;
line-height: 30px;
}

.nav .menu a:hover {
color: #F9F0E8;
}

/* .nav 1-level dropdowns */
.nav .menu li ul { 
display: none; 
}

.nav .menu ul li a {
display: block;
text-decoration: none;
color: #E3B88F;
background: #372417;
margin-left: 1px;
white-space: nowrap;
}
.nav .menu ul li a:hover { 
background: #372417; 
}

.nav .menu li:hover ul {
display: block;
position: absolute;
}

.nav .menu li:hover li {
float: none;
font-size: 12px;
}
.nav .menu li:hover a { 
background: #372417; 
}

.nav .menu li:hover li a:hover { 
background: #372417; 
}

/* main content */

#main {
overflow: hidden;
padding: 15px 0 0 0;
}

#content {
width: 600px;
margin-bottom: 36px;
color: #444;
font-size: 12px;
line-height: 16px;
padding-right: 10px;
}

.right_border {
border-right: 1px #ddd solid;
}

.article {
padding: 10px;
}

 ul {
list-style: square inside;
}

.article img {
border: none;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

#content p,
#content ul,
#content ol,
#content hr {
margin-bottom: 14px;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
margin-bottom: 0;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
color: #372417;
margin: 0 0 10px 0;
line-height: 1.5em;
text-shadow: 0px 2px 3px #ddd;
}

.alignleft,
img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}
.inline {
display: inline;
}

.alignright,
img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter,
img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* sidebar and .footer widget blocks */

#sidebar h3 {
font-size: 18px;
line-height: 1.5em;
text-shadow: 0px 2px 3px #ddd;
}

#sidebar ul {
list-style: square inside;
margin-bottom: 20px;
}

#sidebar img {
border: none;
}

#footer {
margin-bottom: 20px;
clear:both;
}

#footer-area {
border-top: 0px solid #ddd;
margin-top: 5px;
padding: 10px 0;
overflow: hidden;
}

#footer-area ul {
  text-align: center;
}

#footer-area li {
display: inline;
font-size: 15px;
font-weight: bold;
}

#footer-area li a {
color: rgb(140, 55, 40)
}

hr {
border-top: 1px #ddd solid;
}

form label {
float:left;
width:7em;
}

.input {
    padding: 3px;
}

.inputs textarea {
  display: inline;
height: 125px;
width: 100%;
font-family: Verdana, Arial, Helvetica, sans-serif;
}
.questionaire label.text {
width: 100%;
}
.schedule .tableHeader{
  font-weight: bolder;
  padding-top: 10px;
}
.schedule tr{
  vertical-align: top;
}
.schedule ul li ul li{
list-style: none;
margin-left: 2em; 
padding-left: 2em;
}
.schedule label{
  float: left;
  width: 10em;
}
.schedule ul li ul li ul li{
list-style: none;
margin-left: 13em; 
padding-left: 0em;
}
.time_ago_announcement {
 display:inline;
 float: right;
 font-size: 10px;
 line-height: 20px;
 color:#372417;
}
.announcement p {
  margin-bottom: 10px !important;
}
.soft {
  color: #666;
}
