<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @registration.name %>,</p> 
    <p>We are in receipt of your payment for the 2011 Acute Care NP/PA Leadership Summit.  Please visit the website for updates regarding the program and other activities.</p>
    <p>Conference Planning Committee.</p>
  </body>
</html>

