<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @registration.name %>,</p>
    <p>Thank you for registering for the 2011 Acute Care NP/PA Leadership Summit. We look forward to seeing and working with you in Baltimore. To complete your registration, please send a check or money order for $110.00 by August 30th  2011, payable to “University of Maryland Baltimore Foundation, Inc” - note “Acute Care NP/PA Leadership Summit” in the memo section.</p>
    <p>We will send you a confirmation of receipt of payment when it is received.  Please follow the link on the website to the Baltimore Hilton Hotel for discounted hotel rates.</p>
    <p>
      The Conference Planning Committee<br/>
      Peggy Hood<br/>
      <%= mail_to 'phood2@jhmi.edu' %>
    </p>
  </body>
</html>
