<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @registration.name %>,</h1>
    <p>
      Welcome to the Acute Care Leadership Summit
    </p>
    <p>
      You have successfully signed up to for the 2011 Acute Care Leadership Summit in Baltimore, MD.
    </p>
    <p>Please send your registration fee in as soon as possible to ensure your spot.</p>
    <p>Thanks!</p>
    <p>The Acute Care Leadership Summit team</p>

  </body>
</html>