<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @registration.name %>,</p>
    <p>Thank you for registering for the 2011 Acute Care Leadership Summit.  We look forward to seeing and working with you in Baltimore.  To complete your registration, please send payment of $110.00 by check or money order, made payable to University of Maryland Baltimore Foundation, Inc, with note of Acute Care Leadership Summit in the memo section. We will send you a confirmation of receipt of payment when it is received.  You may follow the link on the website to the Hilton Hotel for discounted hotel rates.</p>

    <p>Conference Planning Committee
    <br/>
    <%= link_to "phood2@jhmi.edu", "mailto:phood2@jhmi.edu" %>
    </p>
  </body>
</html>
