<h1>Users</h1>
<% flash.each do |key, value| %>
  <div  id="error_explanation">
    <ul>
      <li><%= value %></li>
    </ul>
  </div>
<% end %>
<div id="gallery">
  <ul>
      <table>
          <tr>
            <td><b>Name:        </b></td>
            <td><b>Role:       </b></td>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td height = "30"><%= user.name %>       </td>
              <td><%= user.role %>      </td>
            </tr>
        <% end %>
    </table>
  </ul>
</div>
<div class="cleaner"/>

