<% if @registration.errors.any? %>
  <div id="error_explanation">
    <h3>Please correct the following <%= pluralize(@registration.errors.count, "issue") %>:</h3>
    <ul>
      <% @registration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
