<div id="container">	
  <div id="content">
    <p>
      Please let your colleagues know about the conference.  An introductory flier can be downloaded and forwarded <%= link_to 'here', flier_path %>.
    </p>
    <div class="schedule">
      <ul >
        <li><h3>Thursday September 8</h3></li>
        <li>
          <ul> 
            <li><label>5:00-7:00 pm</label>Registration</li>
            <li><label>6:00-8:00 pm</label>Reception - wine and cheese</li>
          </ul>
        </li>
        <li><h3>Friday September 9</h3></li>
        <li>
          <ul> 
            <li><label>8:00-9:00 am</label>Registration</li>
            <li><label>8:30-9:00 am</label>Breakfast (provided)</li>
            <li><label>9:30-10:00 am</label>Keynote Address</li>
            <li><label>10:00-10:15 am</label>Break</li>
            <li><label>10:15-12:30 pm</label>NP & PA Entry to Practice:  Education & Orientation
            </li>
            <li><label>12:30-1:30 pm</label>Lunch (provided)</li>
            <li><label>1:30-3:00 pm</label>Critical Conversations
              <!--<ul> 
                <li><label>1:30-2:15 pm</label>Overview</li>
                <li><label>2:15-3:00 pm</label>Breakouts and Scenarios</li>
              </ul>-->
            </li>
            <li><label>3:00-3:15 pm</label>Break</li>
            <li><label>3:15-4:15 pm</label>NP/PA Team Models – Where did all the Residents go?</li>
            <li><label>4:15-5:15 pm</label>Professional Advancement Models</li>
            <li><label>5:15 pm</label>Wrap Up</li>
          </ul>
        </li>
        <li><h3>Saturday September 10</h3></li>
        <li>
          <ul> 
            <li><label>8:00-8:30 am</label>Breakfast (provided)</li>
            <li><label>8:30-10:15 am</label>Billing Models
              <!--<ul> 
                <li><label>8:30-9:30 am</label>Overview</li>
                <li><label>9:30-10:15 am</label>Panel Discussion</li>
              </ul>-->
            </li>
            <li><label>10:15-10:30 am</label>Break</li>
            <li><label>10:30-11:30 am</label>Outcomes</li>
            <li><label>11:30-12 pm</label>NP/PA Leadership – Future Directions</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

