<div id="container">	
  <div id="content">
    <p>
      Please let your colleagues know about the conference.  An introductory flier can be downloaded and forwarded <%= link_to 'here', flier_path %>.
    </p>
    <table class="schedule">
      <tr>
        <td colspan="2" class="tableHeader">Thursday September 8</td>
      </tr>
      <tr>
        <td width="110px">5:00-7:00 pm</td>
        <td>Registration</td>
      </tr>
      <tr>
        <td>6:00-8:00 pm</td>
        <td>Reception - Meet and Greet Wine and Cheese Reception</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td colspan="2" class="tableHeader">Friday September 9</td>
      </tr>
      <tr>
        <td>8:00-9:00 am</td>
        <td>Registration</td>
      </tr>
      <tr>
        <td>8:30-9:00 am</td>
        <td>Breakfast</td>
      </tr>
      <tr>
        <td>9:30-10:00 am</td>
        <td>Keynote: Education
          <br>Janet D Allan, PhD RN FAAN
          <br>Dean, University of Maryland  MD School of Nursing
        </td>
      </tr>
      <tr>
        <td>10:00-10:15 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:15-12:30 am</td>
        <td>NP & PA Entry to Practice:  Education & Orientation
          <ul>
            <li>NP & PA residencies</li>
            <li>New hires - Onboarding & Mentoring</li>
            <li>20 min Open discussion Panel</li>
          </ul>
          Jennie McKown, MSHS PA-C
          <br/>Director, Postgraduate Surgical Residency for Physician Assistants
          <br/>Johns Hopkins Hospital, Department of Surgery
          <br/>
          <br/>James Cawley, PA-C MPH
          <br/>Professor and Director, Physician Assistant/MPH Program
          <br/>George Washington University, Washington DC
          <br/>
          <br/>Martha Kennedy, PhD RN CRNP
          <br/>Co-director, Postgraduate Critical Care Residency fof Physician Assistants
          <br/>Coordinator, Surgical Advanced Practice Orientation
          <br/>Johns Hopkins Hospital, Department of Surgery
          <br/>
          <br/>
        </td>
      </tr>
      <tr>
        <td>12:30-1:30 pm</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>1:30-3:00 pm</td>
        <td>Crucial Conversations
          <ul>
            <li>Overview</li>
            <li>Breakouts and scenarios</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>3:00-3:15 pm</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>3:15-4:15 pm</td>
        <td>NP/PA Team Models
          <br/>James Cawley, PA-C  MPH
          <br/>Professor and Director, Physician Assistant/MPH Program
          <br/>George Washington University, Washington DC/td>
      </tr>
      <tr>
        <td>4:15-5:15 pm</td>
        <td>Professional Advancement Models
          <br/>Deb Schofield, DNP CRNP
          <br/>NP Program Manager: ED, Prep, Moderate Sedation
          <br/>Assistant Professor, University of Maryland School of Nursing
        </td>
      </tr>
      <tr>
        <td>5:15 pm</td>
        <td>Wrap-Up</td>
      </tr>
      <tr>
        <td colspan="2" class="tableHeader">Saturday September 10</td>
      </tr>
      <tr>
        <td>8:00-8:30 am</td>
        <td>Breakfast</td>
      </tr>
      <tr>
        <td>8:30-10:15 am</td>
        <td>Billing Models
          <ul>
            <li>Overview</li>
            <li>Panel Discussion</li>
          </ul>
          Robert Blessing, DNP CRNP
          <br/>Duke University, Durham, North Carolina
          <br/>        
          <br/>Clare Thomson-Smith, JD MSN RN FAANP 
          <br/>Director, Center for Advanced Practice Nursing and Allied Health
          <br/>Assistant Dean of Faculty Practice, School of Nursing
          <br/>
          <br/>Assistant Director, Advanced Practice Critical Care, Vanderbilt University Hospital
          <br/>Vanderbilt University School of Nursing, Nashville, Tenn
        </td>
      </tr>
      <tr>
        <td>10:15-10:30 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:30-11:30 am</td>
        <td>Outcomes
          <br/>Kristin Seidl, PhD RN
          <br/>Assistant Professor
          <br/>University of Maryland, Baltimore
        </td>
      </tr>
      <tr>
        <td>11:30-12 pm</td>
        <td>NP/PA Leadership – Future Directions</td>
      </tr>
    </table>
  </div>
</div>

