<div id="container">	
  <div id="content">
    <h2>Frequestly Asked Questions</h2>
    <h3>Where and when is this year's conference?</h3>
    <p>This year's conference will be held in Baltimore, September 8th to 10th.  Sessions will be held at the following address:<br/><br/>
    <b>621 West Lombard St<br/>
      Baltimore, MD 21201</b><br/>
    <h3>Why should I attend this conference?</h3>
    <p>Attendees will gain insight into how others are addressing common challenges such as orientation and development of new staff, developing “bench strength” in current employees, NP/PA team models, measuring outcomes of practice, how to have difficult conversations, and billing options.</p>
    <h3>Who is the target audience for this conference?</h3>
    <p>Nurse Practitioners, Physician Assistants, adminsistrators, educators with an interest in recruitment, development and retention of NPs and PAs.</p>
    <h3>Is this a clinical conference?</h3>
    <p>This conference is a leadership and networking conference for NPs, PAs and those who are working to develop  and strategize the future for practitioners in acute care settings.   While there will be discussions of issue s related to clinical practice, there will not a focus on clinical content.</p>
    <h3>What is the conference format?</h3>
    <p>Expert presentations, panel discussions and interactive sessions where participants can share and explore organizational and practical solutions to common issues.</p>
    <h3>What else can I do while I’m at the conference?</h3>
    <p>The conference is located in downtown Baltimore and is in easy walking distance to the Inner Harbor, Little Italy, the National Aquarium, Science Center, theatre and cultural districts.  We will update the website with local events as they are announced.</p>
  </div>
</div>
<%= render 'layouts/side' %> 
