<div id="container">
  <div id="content">
    <div class="article">
      <h2>2012 Acute Care NP/PA Leadership Summit</h2>
      <p>
        <strong>This year's conference will be hosted by <%= link_to 'NewYork-Presbyterian', 'http://nyp.org/' %>.</strong>
      </p>
    </div>
    <div class="article">
      <h2>Announcements</h2>
      <% @announcements.each do |announcement| %>
        <%= render 'announcement', :ann => announcement	 %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/side' %> 
