<div id="container">
  <div id="content">
    <div class="article">
      <h2>2011 Acute Care NP/PA Leadership Summit</h2>
      <p>
        <strong>This year's conference will be held in Baltimore, September 8th to 10th.</strong>
      </p>
      <p>
        We have put together an exciting, collaborative, knowledge-sharing conference this year.  Make sure to <%= link_to "register", register_path %> now.  Topics will include:
        <br/>
      </p>
      <ul>
        <li>NP/PA Residencies and Orientation</li>
        <li>Mixed NP/PA Practice Models</li>
        <li>Billing Practices</li>
        <li>Professional Advancement Models</li>
        <li>Outcome Measurement</li>
      </ul>
      <p>
        Please let your colleagues know about the conference.  An introductory brochure can be downloaded <%= link_to 'here', flier_path %>.
      </p>
    </div>
    <div class="article">
      <h2>Announcements</h2>
      <% @announcements.each do |announcement| %>
        <%= render 'announcement', :ann => announcement	 %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/side' %> 
