<div id="container"><!-- #container -->
  <div id="content"><!-- #content -->
    <article>
      <h3>Welcome to the 2011 Acute Care Leadership Summit</h3>
      <p>
        We have put together an exciting, collaborative, knowledge-sharing conference this year.  Make sure to <%= link_to "registration", register_path %> now.  Topics will include:
        <br/>
      </p>
      <!-- make these smaller and indented even to the above title -->
      <ul>
        <li>NP/PA Residencies and Orientation</li>
        <li>Mixed NP/PA Practice Models</li>
        <li>Biling Practices</li>
        <li>Professional Advancement Models</li>
        <li>Outcome Measurement</li>
        <li>And more</li>
      </ul>

      <!--<p>
        The Acute Care Leadership Summit for Nurse Practitioners, Physician Assistants, and other interested parties was created in 2008 as an avenue for advanced practice nurses and nursing leaders to share ideas and innovative practices across the nation.-->
        <!--This year's program will be held in Baltimore, Maryland and hosted by Advanced Practiced Leadership from The Johns Hopkins Hospital and University of Maryland Medical System. Please check back for more information as conference planning continues.
      </p>    -->
    </article>
    <article>
      <h2><a href="#">Announcements</a></h2>
    </article>
  </div>
</div>

<div id="sidebar">
  <h3>Participant Survey</h3>
  <p>
    We strive to provide you with the information that will help you the most.  What are some topics that you would like to see addressed at this year's conference? 
    <br/> <%= link_to "Let us know", root_path %> 
  </p>
  
  <h3>Frequently Asked Questions</h3>
  <ul>
    <li><a href="#">Why would I go?</a></li>
    <li><a href="#">Who's going to be there?</a></li>
    <li><a href="#">Why did I do this to myself?</a></li>
  </ul>						
  
  <h3>Contact Us</h3>
  <p>
    We'd love to hear from you!  Let us know your thoughts, questions, and concerns about the conference
    <br/> <%= link_to "Contact us", root_path %> 
  </p>
  								
</div>
