<div id="templatemo_content">
  <h3>(Website under construction)</h3>
  <h1>Welcome!</h1>
  <div class="image_wrapper fl_img">
    <%= image_tag("acs.jpeg", :alt => "image 1") %>
  </div>
  <p>The Acute Care Leadership Summit for Nurse Practitioners, Physician Assistants, and other interested parties was created in 2008 as an avenue for advanced practice nurses and nursing leaders to share ideas and innovative practices across the nation.</p>
  <p>This year's program will be held in Baltimore,  Maryland and hosted by Advanced Practiced Leadership from The Johns Hopkins Hospital and University of Maryland Medical System.  Please check back for more information as conference planning continues.</p>
  <!--<div class="cleaner_h30"></div>
  <ul>
    <li>September 8th - 10th, 2011</li>
    <li>Baltimore, MD</li>
  </ul>
  <div class="cleaner"></div>-->

  <!--<h2>Fruit Of The Day</h2>
  <div class="two_col float_l">
  <div class="image_wrapper non_float_img">
  <a href="http://www.templatemo.com/page/2" target="_parent"><img src="images/templatemo_image_02.jpg" alt="image 2" /></a>
  </div>
  <h5>Cras purus libero</h5>
  <p>Pellentesque adipiscing sollicitudin sapien nec aliquet. </p>
  <div class="button"><a href="#">More</a></div>
  </div>
  <div class="two_col float_r">
  <div class="image_wrapper non_float_img">
  <a href="http://www.templatemo.com/page/3" target="_parent"><img src="images/templatemo_image_03.jpg" alt="image 3" /></a>
  </div>
  <h5>Morbi sed nulla</h5>
  <p>Vivamus interdum, tortor at pellentesque pulvinar, diam quam blandit nulla.</p>
  <div class="button"><a href="#">More</a></div>
  </div>-->

<% if @announcements.size > 0 %>
  <div>
    <header>
    <h3>Announcements</h3>
    <header>
    <div class="announcements">
      <% @announcements.each do |ann| %>
        <%= render :partial => 'pages/announcement', :locals => {:ann => ann} %>
      <% end %>
    </div>
    <div>
      <%= link_to "Read More", announcements_path %>
    </div>
  </div>
<% end %>
</div> <!-- end of content -->
<div id="templatemo_sidebar">
  <div class="sidebar_box">
    <div class="header">
      <h3>Register Now!</h3>
    </div>
    <div class="content">
      <p>
      Watch here for registration information.
      <%= button_to "Register", register_path, :class => "floatr_btn" %>
      <br>
      </p>
    </div>
    <div class="bottom"></div>
  </div>
  <div class="sidebar_box">
    <div class="header">
      <h3>Other Links</h3>
    </div>
    <div class="content">
      <ul class="categories_list">
        <li><a href="#">Call for panelists</a></li>
        <li><a href="#">FAQ's</a></li>
        <li><a href="#">Download lecture materials</a></li>
        <li><a href="#">Email us</a></li>
        <li><a href="#">Updates</a></li>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>
  <div class="sidebar_box">
    <div class="header">
      <h3>Newsletter</h3>
    </div>
    <div class="content">
      <p>Please sign up to receive our newsletter and subscribe to any updates by entering your email address below:</p>
      <div class="newsletter_box">
        <form action="#" method="get">
          <label>Email Address:</label>
          <input type="text" value="" name="q" size="10" id="newsletter_email" title="Email" />
          <input type="submit" name="Submit" value="Subscribe" alt="Submit" id="newsletter_submit" title="Submit" />
        </form>
      </div>
      <div class="cleaner"></div>
    </div>
  </div>
</div>
<!-- end of sidebar -->
<div class="cleaner"></div>

