<div id="container">
  <div id="content">
    <div class="article">
      <h2>2012 Acute Care NP/PA Leadership Summit</h2>
      <p>
        <strong>This year's conference will be held  at <%= link_to 'New York Presbyterian', 'http://nyp.org/' %>.</strong>
      </p>
      <p>
        If you have any questions or need to contact us, please <%= link_to "contact us", contact_path %>.
      </p>
      <p>
        Stay tuned for more announcements.
      </p>
    </div>
    <div class="article">
      <h2>Announcements</h2>
      <% @announcements.each do |announcement| %>
        <%= render 'announcement', :ann => announcement	 %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/side' %> 
