


        <div id="templatemo_content">

            <h1>Introducing to Healthy Living</h1>

             <div class="image_wrapper fl_img">
                <a href="http://www.templatemo.com/page/1" target="_parent"><img src="images/templatemo_image_01.jpg" alt="image 1" /></a>
             </div>

            <p>Healthy Living is a <a href="http://www.templatemo.com" target="_parent">free CSS template</a> provided by <a href="http://www.templatemo.com" target="_parent">templatemo.com</a>. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. You may use this template in your websites. Credit goes to <a href="http://www.publicdomainpictures.net" target="_blank">Public Domain Pictures</a> for photos. In ac libero urna. Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus, a vulputate mauris. Integer sed nisi sapien, ut gravida mauris. Nam et tellus libero. Cras purus libero, dapibus nec rutrum in, dapibus nec risus. Ut interdum mi sit amet magna feugiat auctor.</p>

                <div class="cleaner_h30"></div>

            <ul>
                <li>Vestibulum auctor euismod mi et tincidunt.</li>
                <li>Phasellus diam orci, rhoncus sed condimentum et, sodales vel leo.</li>
                <li>Sed condimentum ornare ipsum, nec gravida sem sollicitudin quis.</li>
                <li>Nam malesuada bibendum metus ac faucibus. </li>
                <li>Maecenas nisl est, interdum id mollis sed, venenatis id tellus.</li>
            </ul>

            <div class="cleaner_h60"></div>

            <h2>Fruit Of The Day</h2>

            <div class="two_col float_l">

                <div class="image_wrapper non_float_img">
                        <a href="http://www.templatemo.com/page/2" target="_parent"><img src="images/templatemo_image_02.jpg" alt="image 2" /></a>
                </div>

                <h5>Cras purus libero</h5>
                <p>Pellentesque adipiscing sollicitudin sapien nec aliquet. </p>

                <div class="button"><a href="#">More</a></div>
            </div>

            <div class="two_col float_r">

                <div class="image_wrapper non_float_img">
                        <a href="http://www.templatemo.com/page/3" target="_parent"><img src="images/templatemo_image_03.jpg" alt="image 3" /></a>
                </div>

                <h5>Morbi sed nulla</h5>
                <p>Vivamus interdum, tortor at pellentesque pulvinar, diam quam blandit nulla.</p>

                <div class="button"><a href="#">More</a></div>
            </div>

        </div> <!-- end of content -->

        <div id="templatemo_sidebar">

            <div class="sidebar_box">

                <div class="header">
                        <h3>Register Now!</h3>
                </div>

                <div class="content">

                  <p>
                      Register by Yesterday to secure your spot!  Hurry now!
                      <%= button_to "Register", register_path, :class => "floatr_btn" %>

                  </p>

                </div>

                <div class="bottom">    </div>
            </div>

            <div class="sidebar_box">

                <div class="header">
                        <h3>Physical Exercises</h3>
                </div>

                <div class="content">

                   <ul class="categories_list">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Phasellus eget lorem</a></li>
                        <li><a href="#">Sed sit amet sem</a></li>
                        <li><a href="#">Cras eget est vel</a></li>
                        <li><a href="#">Quisque in ligula</a></li>
                    </ul>

                </div>

                <div class="bottom"></div>
            </div>

            <div class="sidebar_box">

               <div class="header">
                <h3>Newsletter</h3>
                </div>

                <div class="content">

                        <p>In ac libero urna. Suspendisse sed odio ut mi auctor blandit.</p>
                    <div class="newsletter_box">

                  <form action="#" method="get">
                    <label>Email Address:</label>
                    <input type="text" value="" name="q" size="10" id="newsletter_email" title="Email" />
                    <input type="submit" name="Submit" value="Subscribe" alt="Submit" id="newsletter_submit" title="Submit" />
                  </form>
                  </div>

                  <div class="cleaner"></div>
                </div>

                <div class="bottom"></div>

                <div class="cleaner"></div>
            </div>

        </div> <!-- end of sidebar -->

        <div class="cleaner"></div>
