


        <div id="templatemo_content">

            <h1>Welcome!</h1>

             <div class="image_wrapper fl_img">
                <img src="images/acs.jpg" alt="image 1" />
             </div>

	<p>The Acute Care Summit was created in 2008 as an avenue for advanced practice nurses and nursing leaders to share ideas and innovative practices across the nation.</p>
	<p>This year we hope to expand our participants to all advance practice providers, healthcare administrators, and advanced practice educators. </p>

                <div class="cleaner_h30"></div>

            <ul>
                <li>Acute Care Summit</li>
                <li>November 5th - 7th</li>
                <li>Houston Texas</li>
            </ul>

            <div class="cleaner_h60"></div>

            <h2>Fruit Of The Day</h2>

            <div class="two_col float_l">

                <div class="image_wrapper non_float_img">
                        <a href="http://www.templatemo.com/page/2" target="_parent"><img src="images/templatemo_image_02.jpg" alt="image 2" /></a>
                </div>

                <h5>Cras purus libero</h5>
                <p>Pellentesque adipiscing sollicitudin sapien nec aliquet. </p>

                <div class="button"><a href="#">More</a></div>
            </div>

            <div class="two_col float_r">

                <div class="image_wrapper non_float_img">
                        <a href="http://www.templatemo.com/page/3" target="_parent"><img src="images/templatemo_image_03.jpg" alt="image 3" /></a>
                </div>

                <h5>Morbi sed nulla</h5>
                <p>Vivamus interdum, tortor at pellentesque pulvinar, diam quam blandit nulla.</p>

                <div class="button"><a href="#">More</a></div>
            </div>

        </div> <!-- end of content -->

        <div id="templatemo_sidebar">

            <div class="sidebar_box">

                <div class="header">
                        <h3>Register Now!</h3>
                </div>

                <div class="content">

                  <p>
                      Register by Yesterday to secure your spot!  Hurry now!
                      <%= button_to "Register", register_path, :class => "floatr_btn" %>
			<br>
                  </p>

                </div>

                <div class="bottom">    </div>
            </div>

            <div class="sidebar_box">

                <div class="header">
                        <h3>Other Links</h3>
                </div>

                <div class="content">

                   <ul class="categories_list">
                        <li><a href="#">Call for panelists</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Download lecture materials</a></li>
                        <li><a href="#">Email us</a></li>
                        <li><a href="#">Updates</a></li>
                    </ul>

                </div>

                <div class="bottom"></div>
            </div>

            <div class="sidebar_box">

               <div class="header">
                <h3>Newsletter</h3>
                </div>

                <div class="content">

                        <p>Please sign up to receive our newsletter and subscribe to any updates by entering your email address below:</p>
                    <div class="newsletter_box">

                  <form action="#" method="get">
                    <label>Email Address:</label>
                    <input type="text" value="" name="q" size="10" id="newsletter_email" title="Email" />
                    <input type="submit" name="Submit" value="Subscribe" alt="Submit" id="newsletter_submit" title="Submit" />
                  </form>
                  </div>

                  <div class="cleaner"></div>
                </div>

                <div class="bottom"></div>

                <div class="cleaner"></div>
            </div>

        </div> <!-- end of sidebar -->

        <div class="cleaner"></div>
