<div id="container">
  <div id="content">
    <h2>Conference Hotel and Travel Information</h2>
    <h3>Hotel</h3>
    <p>
      <%= link_to "New York Marriott Marquis", 'http://www.marriott.com/hotels/travel/nycmq-new-york-marriott-marquis/', :target => "_blank"%> </br>
      1538 Broadway </br>
      New York, New York 10036 </br></br>
      A block of rooms at a discounted rate have been reserved for registrants until August 18, 2012</br>
      <%= link_to "Book a room here", 'https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=9442494', :target => "_blank"%></br>
    </p>
    <h3>Visitors Guide to New York City</h3>
    <p>
      For information on things to do, restaurants, and transportation visit the
      <%= link_to "NYC government official website", 'http://www.nyc.gov/portal/site/nycgov/menuitem.e2a1b26d9be35ff6a62fa24601c789a0/', :target => "_blank"%>. 
    </p>
  </div>
</div>
<%= render 'layouts/side' %> 
