<div id="container">
  <div id="content">
    <h2>Conference Hotel and Travel Information</h2>
    <h3>Hotel</h3>
    <p>
      We have arranged for discounted rooms at the <%= link_to "New York Marriott Marquis", 
      'http://www.marriott.com/hotels/travel/nycmq-new-york-marriott-marquis/', :target => "_blank"%>. 
      Make sure you tell them that you are attending the Acute Care NP/PA Leadership Summit.
    </p>
    <!-- <h3>BWI Airport</h3>
    <p>
      The Baltimore area is serviced by <%#= link_to "BWI", 'http://www.bwiairport.com/en' %> airport.  
    </p>
    <h3>Light Rail</h3>
    <p>
      The Camden Yards <%#= link_to "Light Rail", 'http://mta.maryland.gov/services/lightrail/', :target => "_blank" %> stop services the Hilton and is next to the conference center.  
      The Light Rails holds the following hours:
    </p>
    <ul>
      <li>
        Monday - Saturday<br/>
        6:00 a.m. - 11:00 p.m.
      </li>
      <li>
        Sunday and Holidays<br/>
        11:00 a.m. - 7:00 p.m.
      </li>
    </ul> -->
  </div>
</div>
<%= render 'layouts/side' %> 
