<h3>Hotel and Travel Information</h3>
<ul>
  <li>
    <h6>Hotel Information</h6>
    <p>
      The conference has arranged for discounted rooms at the <%= link_to "Hilton Baltimore", 'http://www1.hilton.com/en_US/hi/hotel/BWICCHH-Hilton-Baltimore-Maryland/index.do', :target => "_blank"%>. Make sure you tell them that you are attending the Acute Care Leadership Summit.
    </p>
  </li>
  <li>
    <h6>Light Rail</h6>
    <p>
      The Camden Yards Light Rails stop services the Hilton and is next to the conference center.  The <%= link_to "Light Rail", 'http://mta.maryland.gov/services/lightrail/', :target => "_blank" %> holds the following hours:
    </p>
    <ul>
      <li>
        Monday - Saturday<br/>
        6:00 a.m. - 11:00 p.m.
      </li>
      <li>
        Sunday and Holidays<br/>
        11:00 a.m. - 7:00 p.m.
      </li>
    </ul>
    <p>
      Download the <%= link_to "light rail map", downloads_light_rail_map_path, :target => "_blank" %>
    </p>
  </li>
</ul>

