<div id="container">	
  <div id="content">
    <h2>Planning Committee</h2>
    <ul>
      <li>Deborah J. Baker, DNP CRNP, Johns Hopkins</li>
      <li>Martha Kennedy, PHD CRNP, Johns Hopkins</li>
      <li>Carmel McComiskey, DNP CRNP, University of Maryland Medical Center</li>
      <li>Jennie McKown, MSHS PA-C, Johns Hopkins</li>
      <li>Deb Schofield, PHD, University of Maryland Medical Center</li>
      <li>Renay Tyler, DNP CRNP, Johns Hopkins</li>	
    </ul>
  </div>
</div>
