<div id="container">	
  <div id="content">
    <h2>Planning Committee</h2>
    <ul>
      <li>Michael H. Ackerman, DNS, RN, APRN-BC, FCCM. FNAP, FAANP, University of Rochester</li>
      <li>Deborah J. Baker, DNP CRNP, Johns Hopkins</li>
      <li>Robert Blessing, DNP, ACNP, Duke University</li>
      <li>Martha Kennedy, PHD CRNP, Johns Hopkins</li>
      <li>Carmel McComiskey, DNP, CRNP, University of Maryland Medical Center</li>
      <li>Nicholas M. Perrino, MS, MPH, MSN, RN, FNB-BC, NE-BC, Stanford Hospitals and Clinics</li>
      <li>MariLou Prado-Inzerillo, MA, RN, NewYork-Presbyterian Hospital</li>
      <li>Rosemary Sullivan, MA, RN, NewYork-Presbyterian Hospital</li>
      <li>Hussein Tahan, DNSc, RN, NewYork-Presbyterian Hospital</li>
    </ul>
  </div>
</div>
<%= render 'layouts/side' %> 
