<div id="container">	
  <div id="content">
    <h2>Contact Us</h2>
    <p>We would love to hear from you with any questions or suggestions you might have for this year's conference.</p>
    <%= render 'form' %>
  </div>
</div>
