<div id="container">	
  <div id="content">
    <p id="notice"><%= notice %></p>

    <p>
      <b>Name:</b>
      <%= @contact.name %>
    </p>

    <p>
      <b>Email:</b>
      <%= @contact.email %>
    </p>

    <p>
      <b>Message:</b>
      <%= @contact.message %>
    </p>
  </div>
</div>
