<div id="container">
  <div id="content">
    <h3>Participant Survey</h3>
    <p>Let us know more about you, your practice, and your interest in the cofenrence by participating in our survey below.</p>
    <%= render 'form' %>
  </div>
</div>
<%= render 'layouts/side' %> 
