
<div id="templatemo_header">

    <div id="site_title">
            <h1><a href="index.html"><img src="images/templatemo_logo.png" alt="Healthy Living" /></a></h1>
    </div>

    <div id="banner">
        <h3>Exercise <br /><span>for your</span><br /> HEALTH</h3>
    </div>

</div> <!-- end of header -->
