<div id="footer">
    <div id="footer-area">
      <ul>
          <li><%= link_to "NewYork-Presbyterian", 'http://nyp.org/' %>  | </li>
          <li><%= link_to "Nursing at NewYork-Presbyterian", 'http://careers.nyp.org/nursing/nursing-at-nyp.html' %></li>
      </ul>
    </div>
</div>

  <%= debug(params) if Rails.env.development? %>
