<div id="templatemo_footer">
  <%= link_to "Acute Care Leadership Summit", home_path %>
  |
  <%= link_to "Johns Hopkins", 'http://www.jhu.edu' %>
  |
  <%= link_to "University of Maryland", 'http://www.umd.edu' %>
</div>