<div id="footer">
		<div id="footer-area">

			<div id="footer-outer-block">
					<div id="first" class="footer-segment">
							<h3>Sponsors</h3>
								<ul>

									<li><%= link_to "Johns Hopkins", 'http://www.hopkinsmedicine.org/' %></li>
									<li><%= link_to "University of Maryland", 'http://www.umd.edu' %></li>
								</ul>
					</div><!-- end of #first footer segment -->

					<div id="second" class="footer-segment">
							<h3>Baltimore Attractions</h3>
								<ul>
									<li><a href="#">pub crawl</a></li>
									<li><a href="#">inner harbor</a></li>
									<li><a href="#">lots of heroin</a></li>
									<li><a href="#">knife and gun club</a></li>
									<li><a href="#">the wire</a></li>
								</ul>
					</div><!-- end of #second footer segment -->

					<div id="third" class="footer-segment">
							<h3>Other Links</h3>
								<ul>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
					</div><!-- end of #third footer segment -->
					
					<!--<div id="fourth" class="footer-segment">
							<h3>Recent Testimonial</h3>
								<p>Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
					</div> end of #fourth footer segment -->

			</div><!-- end of #footer-outer-block -->
		</div><!-- end of #footer-area -->
	</div>
	
      <%= debug(params) if Rails.env.development? %>
