<header><!-- header -->
	<h1><a href="#">Acute Care Leadership Summit</a></h1>
	<h2>2011 Conference</h2>
	<%= image_tag 'newImage1.jpg' %>
	<%= image_tag 'extrav2.png' %>
	<%= image_tag 'newImage3.jpg' %>
</header><!-- end of header -->
