<header><!-- header -->
	<h1><a href="#">Accute Care</a></h1>
	<h2>Leadership Summit</h2>
	<%= image_tag 'extrav1.png' %>
	<%= image_tag 'extrav2.png' %>
	<%= image_tag 'extrav3.png' %>
</header><!-- end of header -->
