
<div id="templatemo_header">
  <div id="site_title">
    <h1>
      <% logo = image_tag("acute_care_header.png", :alt=>"Acute Care Leadership Summit") %>
      <%= link_to logo, root_path%>
    </h1>
  </div>

  <div id="banner">
  </div>
</div> <!-- end of header -->
