<div class="header">
  <h1><%= link_to 'Acute Care NP/PA Leadership Summit', root_path %></h1>
	<h2>
      New York City, 2012
    </h2>
    <div class="centerImages">
      <%= image_tag '2012/all_hospitals.jpg' %>
      <%# image_tag '2012/NYP08_YNZ7947_small.jpg' %>
      <%# image_tag '2012/NYP09_AP_2B2751_small.jpg' %>
      <%# image_tag '2012/NYu08_YNZ8656_small.jpg' %>
    </div>
</div>
