<div class="header">
  <h1><%= link_to 'Acute Care NP/PA Leadership Summit', root_path %></h1>
	<h2>
      New York, 2011
    </h2>
    <div class="centerImages">
      <%= image_tag 'newImage1_sm.jpg' %>
      <%= image_tag 'cityScape_sm.png' %>
      <%= image_tag 'newImage3_sm.jpg' %>
    </div>
</div>
