
<div id="templatemo_header">
  <div id="site_title">
    <h1>
      <% logo = image_tag("templatemo_logo.png", :alt=>"Acute Care Leadership Summit") %>
      <%= link_to logo, root_path%>
    </h1>
  </div>

  <div id="banner">
    <h3>Exercise <br /><span>for your</span><br /> HEALTH</h3>
  </div>
</div> <!-- end of header -->
