<div class="header"><!-- header -->
	<h1><a href="#">Acute Care Leadership Summit</a></h1>
	<h1>2011</h1>
	<%= image_tag 'newImage1.jpg' %>
	<%= image_tag 'extrav2.png' %>
	<%= image_tag 'newImage3.jpg' %>
</div><!-- end of header -->
