<div class="header">
	<h1><a href="#">Acute Care Leadership Summit</a></h1>
	<h2>Baltimore, 2011</h2>
	<%= image_tag 'newImage1.jpg' %>
	<%= image_tag 'cityScape.png' %>
	<%= image_tag 'newImage3.jpg' %>
</div>
