<nav id="top_nav">
    <ul>
        <%= menu_li 'Home', root_path %>
        <%= menu_li 'Conference Details', conference_path %>
        <%= menu_li 'Register', register_path %>
        <%= menu_li 'Hotel/Travel Information', info_path,  :class=>"last"%>
    </ul>
</nav>

