<div class="nav"><!-- top nav -->
  <div class="menu">
    <ul>
	    <li><%= link_to "Home", root_path %></li>
	    <li><%= link_to "FAQs", faq_path %></li>
        <li>Conference Details</li>
	    <li>Hotel/Travel</li>
 	    <li>Planning Committee</li>
    </ul>
  </div>
</div><!-- end of top nav -->
