<div id="sidebar">

  <h3><%= link_to "Contact us", contact_path%></h3>
  <p>
    We'd love to hear from you!  Let us know your thoughts or questions about the conference
  </p>

  <h3 class="fake_h3_link">Registration Soon</h3>
  <p>
    Online registration for 2012 is coming soon.
  </p>

  <h3><%= link_to "Flier", flier_path%></h3>
  <p>
    Share this flier for information on the 2012 Conferece
  </p>
</div>
