<div id="sidebar">
  <!-- <h3>Participant Survey</h3>
  <p>
    We strive to provide you with the information that will help you the most.  What are some topics that you would like to see addressed at this year's conference? 
    <br/># <%= link_to "Let us know", root_path %> 
    </p>-->
  <h3><%= link_to "Contact us", contact_path%></h3>
  <p>
    We'd love to hear from you!  Let us know your thoughts or questions about the conference
  </p>
  <h3><%= link_to "Register Now", register_path%></h3>
  <p>
    Registration is open for the 2011 conference.  Make sure to reserve your spot now.
  </p>
  <h3><%= link_to "Participant Survey", survey_path%></h3>
  <p>
    Give us some feedback about you, your practice, and your interest in the conference by participating in our survey
  </p>
  <h3 class="fake_h3_link">Tell Your Friends</h3>
  <p>
    <div><a href="http://twitter.com/share" class="twitter-share-button" data-text="Check out the 2011 Acute Care Leadership Summit in Baltimore! I know I am." data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=136564519765411&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/pages/Acute-Care-Leadership-Summit/164389893626071?sk=wall" send="false" layout="button_count" width="260" show_faces="false" font="segoe ui"></fb:like>
  </p>
</div>
