<div id="sidebar">

  <h3><%= link_to "Contact us", contact_path%></h3>
  <p>
    We'd love to hear from you!  Let us know your thoughts or questions about the conference
  </p>

  <h3 class="fake_h3_link">Registration Closed</h3>
  <p>
    Online registration has now closed.  We will be accepting limited on-site registrations.
  </p>

</div>
