<div id="sidebar">

  <h3><%= link_to "Register Now", 'https://www.cvent.com/events/acute-care-np-pa-leadership-summit/registration-8d74dd5778a940f8bdc5ff4dd7f2cf5c.aspx', :target => '_blank' %></h3>
  <p>
    Online registration for 2012 is open.
  </p>

  <h3><%= link_to "Lecture Materials", materials_path %></h3>
  <p>
    View and Download materials from the 2012 conference
  </p>

  <h3><%= link_to "Contact us", contact_path %></h3>
  <p>
    We'd love to hear from you!  Let us know your thoughts or questions about the conference.
  </p>
</div>
